{% extends "style.html" %}


{% block body %}
<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i> Menu</button>
  <a class="w3-bar-item w3-right w3-button" href="/logout" ><i class="fa fa-remove"></i>Logout</a>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s8 w3-bar">
      <span>Welcome, <strong> {{user.last_name}} {{user.first_name}}.</strong></span><br>

    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Control Panel</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close</a>
    <a href="/" class="w3-bar-item w3-button w3-padding {% if current == 'home' %}w3-blue{% endif%}"><i class="fa fa-dashboard fa-fw"></i>  Home</a>
    <a href="/bokeh" class="w3-bar-item w3-button w3-padding {% if current == 'bokeh' %}w3-blue{% endif%}"><i class="fa fa-line-chart fa-fw"></i>  Bokeh</a>
    <a href="/vtk" class="w3-bar-item w3-button w3-padding {% if current == 'vtkjs' %}w3-blue{% endif%}"><i class="fa fa-cube fa-fw"></i>  VTK.js</a>
    <a href="/admin" class="w3-bar-item w3-button w3-padding {% if current == 'settings' %}w3-blue{% endif%}"><i class="fa fa-bars fa-fw"></i>  Settings</a>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

{% block content %}{% endblock %}
  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}
</script>

{% endblock %}
